*.o
midiguitar
.deps/
build/
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
aclocal.m4
autom4te.cache/
compile
midiguitar-1.0.tar.gz
stamp-h1
autoscan.log
configure.scan
src/Makefile.in
src/config.h.in