
[Desktop Entry]
Name=guitar-midi
GenericName=Midi Guitar
Comment=Simple midi guitar player
Exec=GuitarMidi
Icon=guitar_midi_48.png
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Terminal=false
Type=Application
Keywords=Audio;Sound;Guitar;Amplifier;Record;Midi;Jack;
